{{#if label}}
  <label class="control-label" for="{{controlId}}">{{label}}</label>
{{/if}}
<input id="{{controlId}}" type="text" placeholder="{{placeholder}}" class="{{controlClassNames}}"/>
{{#if help}}
  <span class="help-inline">{{help}}</span>
{{/if}}


